@charset "UTF-8";
*{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
}
:root{
   --cor-fonte:#000000;
}
header{
   background-color: aquamarine;
}
header > h1{
   color: var(--cor-fonte);

   width: 120px;
   margin: auto;
}
nav{
   padding: 4px;
   background-color: rgb(92, 186, 155);
}
a{
   color: var(--cor-fonte);
   margin-right: 3px;
   padding: 1px;
   
   text-decoration: none;
   background-color: rgb(118, 232, 194);

   border: 1px solid transparent;
   border-radius: 2px;

   transition-duration: 300ms;
}
a:hover{
   transition-duration: 300ms;

   padding-left: 6px;
   padding-right: 6px;

   padding: 5px;
   box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.454);

   font-weight: bolder;
}
main{
   background-color: white;
}
#semana1{
   max-width: 629px;
   padding: 50px;
   margin: auto;
}
.dia{
   display: inline-block;
   padding: 4px;

   width: 74px;
   height: 80px;

   border: 1px solid black;
   border-radius: 1px;

   transition-duration: 300ms;
   font-weight: 400;
}
.dia:hover{
   margin: 3px;
   padding: 1px;
   transition-duration: 200ms;
   background-color: #cccccc;

   font-weight: bolder;
}
body{
   background-color: gray;
}
footer{
   background-color: rgb(92, 186, 155);
}
footer > p{
   width: 300px;
   margin: auto;
}